<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Listar eventos de reposição - Flask</title>
</head>
<body style="padding:20px">
    <h3>Listar eventos de reposição de uma IVM</h3>
    {% if cursor %}
    <table border="2px">
        <thead>
            <tr>
                <th>Número de série</th>   
                <th>Fabricante</th>  
                <th>Listar eventos</th> 
            </tr>
        </thead>
        <tbody>
            {% for record in cursor %}
                <tr>
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                    <td><a href="list/?num_serie={{ record[0] }}&fabricante={{ record[1] }}">LISTAR</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p> Erro: não foi possível obter dados da base de dados!</p>
{% endif %}
</body>
</html>
