<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Remover sub-categoria - Flask</title>
</head>
<body style="padding:20px">
    <h3>Remover sub-categoria {{ params.get('categoria') }} de {{ params.get('super_categoria') }}</h3>
    <form action="update" method="post">
        <p><input type="hidden" name="super_categoria" value="{{ params.get('super_categoria') }}"/></p>
        <p><input type="hidden" name="categoria" value="{{ params.get('categoria') }}"/></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
</body>
</html>